@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin response($breakpoint){
  @if $breakpoint == phone { @media (max-width:375px){@content};}
  @if $breakpoint == tab-port { @media (max-width:600px){@content};}
}