@import url("https://fonts.google.com/specimen/Nunito+Sans");

.header {
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;

  font-weight: 800;

  box-shadow: 0 0.1rem 0.3rem rgba($color-black, 0.4);
  background-color:$element-light-mode;

  &__title {
    
    font-size: 1.6rem;
    font-family: "Nunito Sans", sans-serif;

    animation: moveInLogo 0.8s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &__box-icon{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 0rem;

    p{
      font-weight: 300;
      font-size: 1.4rem;
      margin-left: 0.6rem;
    }
  }

  &__icon {
    list-style: none;

    &:hover {
      cursor: pointer;
    }
  }
}

header.dark-mode {
  background-color: $bg-dark-mode;
  color: $color-blue;
}
